<section class="popup" *ngIf="showActivityPopup">
    <div class="close" (click)="hidePopup()">Х</div>



    <label>Nom de l'évènement</label>
    <span>{{activity.event_name}}</span>
    <label>Nom de l'activité</label>
    <span>{{activity.name}} </span>
    <label>Heure de début</label>
    <span>{{activity.begin | date : 'dd/MM/yy HH:mm'}}</span>
    <label>Heure de fin</label>
    <span>{{activity.finish  | date : 'dd/MM/yy HH:mm'}}</span>
    <label>Description</label>
    <span>{{activity.description}}</span>
    <label>URL</label>
    <span><a href="{{activity.url}}" target="_blank">{{activity.url}}</a></span>
    <span><a href="updateActivity/${activity.id}"><button>modification</button></a></span>
    <span><button (click)= "deleteActivity(activity)">supression</button></span>

</section>
<!-- <div id= deleted *ngIf="isDeleted">Votre activité a été supprimée de la base de données</div>
<div id= create *ngIf="isCreate">Votre activité a été créée</div> -->
