@import '../../../style/color';

label {
  width: 120px;
}
section {
  margin: auto;
}

#wrapper {
  background-color: $app-background-color;
  width: 75%;
  height: 50%;
  margin: 10%;
  vertical-align: middle;
  padding-top: 50px;
}

ul {
  vertical-align: middle;

  list-style: none;
  text-align: center;
}

li {
  padding: 5px;
}

#rightButton {
  margin-left: 10px;
}
