<h1>Compte</h1>
<p *ngFor="let event of events">
    <a [routerLink]="['/event', event.id]">
      {{event.name}}
    </a><button (click)="deleteEvent(event)">Delete</button></p>
    <app-event-form (create)="onCreateEvent($event)"></app-event-form>
<app-activity-form (create)="onCreateActivity($event)" [activity]="activity"></app-activity-form>
<button>
  <a [routerLink]="['/updateAccount']" routerLinkActive="router-link-active" >
    Modifier Profil
  </a>
</button>
<app-activities></app-activities>
<app-inscription></app-inscription>
