<table>
  <tr>
    <th>Nom de l'évènement</th>
    <th>Nom de l'activité</th>
    <th>Heure de début</th>
    <th>Heure de fin</th>
    <th>Description</th>
    <th>URL</th>
  </tr>
  <tr *ngFor="let activity of activities">
    <td>{{activity.event_name}}</td>
    <td>{{activity.name}} </td>
    <td>{{activity.begin}}</td>
    <td>{{activity.finish}}</td>
    <td>{{activity.description}}</td>
    <td><a href="{{activity.url}}" target="_blank">{{activity.url}}</a></td>
  </tr>
</table>
<ul *ngFor="let event of events"><li  *ngFor="let activity of event.activities"> {{activity.name}}</li></ul>
