<table>
  <tr>
    <th>Nom de l'évènement</th>
    <th>Nom de l'activité</th>
    <th>Heure de début</th>
    <th>Heure de fin</th>
    <th>Description</th>
    <th>URL</th>
  </tr>
  <tr *ngFor="let activity of activities">
    <td>{{activity.event_name}}</td>
    <td>{{activity.name}} </td>
    <td>{{activity.begin}}</td>
    <td>{{activity.finish}}</td>
    <td>{{activity.description}}</td>
    <td><a href="{{activity.url}}" target="_blank">{{activity.url}}</a></td>
  </tr>
  <tr>
    <td> <input name= "event_name" type="text" [(ngModel)]="activity.event_name" ></td>
    <td> <input name= "name" type="text"  [(ngModel)]="activity.name" ></td>
    <td> <input name="begin" type="text"></td>
    <td> <input name="finish" type="text"></td>
    <td> <input name="description" type="text"></td>
    <td> <input name="url" type="text"></td>

  </tr>
</table>
<app-activity-form
(create)="onCreate($event)" [activity]="activity"
></app-activity-form>



