<section class="popup" *ngIf="showPopup">
  <table>
    <tr>
      <th>Nom du gestionnaire</th>
      <th>Nom de l'évènement</th>
    </tr>
    <tr>
      <td>
    <select name="event.person_id"
    [(ngModel)]="event.person_id">
    <option value="{{person.id}}">{{person.firstname}}</option>
    </select></td>
      <td> <input name= "name" type="text"  [(ngModel)]="event.name" ></td>
    </tr>
  </table>
  <button
    type="button"
    (click)="createEvent()"
    (refresh)="initEvents()">
    Ajouter un nouvel évènement
  </button>
</section>
