/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'style/color';

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

body
{
  background-color: $app-background-color;
  margin: 0;
  padding: 0;
  border-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

h1
{
  text-align: left;
  font-weight: bold;
  font-size: 60px;
  color: black;
  margin-bottom: 30px;
}

/* Generic reusable classes */

.title{
  margin: 10px;
}

.popup{
  position: fixed;
  background-color: $popup-background;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  .close{
    color: white;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor:pointer;
  }
}

/* form style related */

.form{
  background-color: $app-background-color;
  width: 400px;
  margin: 10px auto;
  padding: 30px 50px;
  h2, h3{
    padding: 10px 20px;
  }
  .form_input{
    .label{
      margin-bottom: 5px;
    }
    margin: 20px auto;
    width: 80%;
    input, select{
      height: 40px;
      width: 100%;
      padding: 5px 15px;
      box-sizing: border-box;
      border: none;
      box-shadow: 1px 1px 1px #1f2833;
    }
    error{
      background-color: red;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
    .form_input_error{
      position: relative;
      background-color: red;
      color: white;
      padding: 10px;
      margin-top: 6px;
      font-size: 14px;
      .triangle{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #f85a5a;
        position: absolute;
        top: -5px;
        left: 19px;
      }
    }
  }
  .form_button{
    clear: both;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      background-color: $button-background-color;
      border: none;
      cursor: pointer;
      color: $button-text-color;
      font-weight: bold;
      &:hover{
        background-color: $button-hover-background-color;
        color: $button-text-hover-color;
      }
      padding: 10px 20px;
      margin-top: 10px;
    }
    .form--nopopup{
      padding: 10px;
      margin: 50px auto;
    }
  }
  .error403, .error500, .error403{
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 20px 15px;
    font-weight: bold;
    width: 82%;
    margin: 10px auto;
    text-align: center;
  }
}

/* management buttons */

.management-button, .button{
  background-color: $button-background-color;
  border: none;
  cursor: pointer;
  color: $button-text-color;
  font-weight: bold;
  &:hover{
    background-color: $button-hover-background-color;
    color: $button-text-hover-color;
  }
  margin-top: 10px;
}

.management-button.add, .management-button.update, .management-button.delete, .management-button.subscribe {
  padding: 5px 10px 4px 10px;
}

.management-button.delete {
  margin-left: 20px;
}

.management-button.update{
  margin-left: 5px;
  padding: 4px 7px;
  .pencil{
    transform: rotate(131deg);
    -moz-transform: rotate(131deg);
  }
}

/* lists that appear multiple times */

#events_list,
#activities_list{
  float: left;
  width: 60%;
}

#activities_list {
  width: 40%;
}

#inscriptions_list{
  display: inline-block;
  margin: 20px 0;
}

/* tab management */

.menu_tab{
  h2{
    float: left;
    font-weight: normal;
    padding: 15px;
    cursor: pointer;
    &:hover{
      font-weight: bold;
    }
  }
  .active{
    font-weight: bold;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
  }
}
.choices_tab{
  margin-top: 50px;
  .tab{
    display: none;
  }
  .tab.tab-active{
    display: inline-block;
    border-top: 1px solid;
    padding: 30px;
    width: 100%;
    .section-title{
      margin: 20px 0;
    }
  }
  .button-container{
    width: 50%;
    padding-left: 10px;
  }
}
