<h2>{{event?.name}}</h2>
<table>
    <tr>
        <th>Nom de l'activité</th>
        <th>Heure de début</th>
        <th>Heure de fin</th>
        <th>Description</th>
        <th>URL</th>
        <th>Inscription</th>
      </tr>
      <tr *ngFor="let activity of event?.activities">
        <td>{{activity.name}} </td>
        <td>{{activity.begin}}</td>
        <td>{{activity.finish}}</td>
        <td>{{activity.description}}</td>
        <td><a href="{{activity.url}}" target="_blank">{{activity.url}}</a></td>
        <td>
          <button type="button"
          (click)="onCreateInscription()">
            <a [routerLink]="['/inscription']" >s'inscrire</a></button>
        </td>
      </tr>

      </table>
<button>
<a [routerLink]="['/account']">Gérer vos activités</a>

</button>
<button>
  <a [routerLink]="['/home']"  >Home</a>
</button>
