<h3>Voici la liste de toutes les inscriptions: </h3>
<table class="table-list">
  <thead>
    <tr>
      <th>Nom de l'évènement</th>
      <th>Nom de l'activité</th>
      <th>Début de l'activité</th>
      <th>Fin de l'activité</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inscription of inscriptions">
      <td>{{inscription.activity.eventName}}</td>
      <td>{{inscription.activity.name}} </td>
      <td>{{inscription.activity.begin | date : 'dd/MM/yy HH:mm'}}</td>
      <td>{{inscription.activity.finish | date : 'dd/MM/yy HH:mm'}}</td>
      <td>{{inscription.activity.description}}</td>
      <td><button class="management-button subscribe" (click)="deleteInscription(inscription)">supression</button></td>
    </tr>
  </tbody>
</table>

<div id=deleted *ngIf="isDeleted">Votre inscription a été supprimée</div>
