<h2 class="title">Events</h2>
<ul id="events_list">
  <li *ngFor="let event of events">
    <a (click)="getActivities(event.id)">
      {{event.name}}
    </a>
    <button
      class="delete management-button"
      *ngIf="isManagement"
      (click)="onDelete(event.id)">Supprimer</button>
  </li>
  <li *ngIf="isManagement">
    <button (click)="toggleShowCreateEventPopup()" class="add management-button">+</button>
  </li>
</ul>

<app-event-form
  [showCreateEventPopup]="showCreateEventPopup"
  (resetCreateEventPopupStateInParent)="toggleShowCreateEventPopup($event)"
  (create)="onCreate($event)"
></app-event-form>

