<h2 class="title">Voici les listes des évènements: </h2>
<ul id="events_list">
  <li *ngFor="let event of events">
    <a [routerLink]="['/event', event.id]" routerLinkActive="router-link-active">
      {{event.name}}
    </a>
    <button
      class="delete management-button"
      *ngIf="isManagement"
      (click)="onDelete(event)">Supprimer</button>
  </li>
  <li *ngIf="isManagement">
    <button (click)="toggleShowCreateEventPopup()" class="add management-button">+</button>
  </li>
</ul>

<app-event-form
  [showCreateEventPopup]="showCreateEventPopup"
  (resetCreateEventPopupStateInParent)="toggleShowCreateEventPopup($event)"
  (create)="onCreate($event)"
></app-event-form>

