<section class="popup" *ngIf="showCreateActivityPopup">
  <div class="close" (click)="hideActivityFormPopup()">Х</div>
    <form class="form" [formGroup]="activityForm" (ngSubmit)="submitForm()">
      <div class="form_input">
        <div class="label">
          <label for="eventName">Nom de l'évènement : </label>
        </div>
        <select formControlName="eventName" name="eventName" type="text">
          <option *ngFor="let event of events">
            {{event.name}}
          </option>
        </select>
      </div>
      <div class="form_input">
        <div class="label">
          <label for="activityName">Nom de l'activité : </label>
        </div>
        <input formControlName="activityName" name="activityName" type="text">
      </div>
      <div class="form_input">
        <div class="label">
          <label>Début de l'activité : </label>
        </div>
        <input placeholder="Date Time:" formControlName="begin" name="begin" [owlDateTimeTrigger]="dtb"
               [owlDateTime]="dtb">
        <owl-date-time #dtb></owl-date-time>
      </div>
      <div class="form_input">
        <div class="label">
          <label>Fin de l'activité : </label>
        </div>
        <input placeholder="Date Time:" formControlName="finish" name="finish" [owlDateTimeTrigger]="dtf"
               [owlDateTime]="dtf">
        <owl-date-time #dtf></owl-date-time>
      </div>
      <div class="form_input">
        <div class="label">
          <label>Description : </label>
        </div>
        <input formControlName="description" name="description" type="text">
      </div>
      <div class="form_input">
        <div class="label">
          <label>URL : </label>
        </div>
        <input formControlName="url" name="url" type="text">
      </div>
      <div class="form_button">
        <button type="submit">
          Créer
        </button>
      </div>
    </form>
</section>
