<h1>Accueil</h1>

<app-event-list id="events_list" [events]="events" (getActivityList)="initActivitiesList($event)"
  [activeEventId]="activeEventId"></app-event-list>

<app-activity-list id="activities_list" (showActivityItem)="toggleActivityItem($event)" [activities]="activities">
</app-activity-list>

<app-activity-item [showActivityPopup]="showActivityPopup" [isParticipantValue]="isParticipantValue"
  [activity]="activityToShow" (hidePopUpEmitter)="toggleActivityItem($event)"
  (createInscription)="createInscription($event)" (deleteTheInscription)="deleteInscription($event)">
</app-activity-item>
