<section class="popup" *ngIf="showCreateEventPopup">
  <div class="close" (click)="hideEventFormPopup()">Х</div>
  <form class="form" [formGroup]="eventForm" (ngSubmit)="submitForm()">
    <h2 *ngIf="!isUpdate">Créer un événement</h2>
    <h2 *ngIf="isUpdate">Modifier un événement</h2>
    <div class="form_input">
      <div class="label">
        <label for="eventName">Nom de l'évènement : </label>
      </div>
      <input formControlName="eventName" name="eventName" type="text" >
      <app-control-messages [control]="eventForm.get('eventName')"></app-control-messages>
    </div>
    <div class="form_input">
      <div class="label">
        <label for="begin">Début de l'évènement : </label>
      </div>
      <input placeholder="Date de l'évènement :" formControlName="begin" name="begin" type="owlDateTime"
             [owlDateTimeTrigger]="dtr"
             [owlDateTime]="dtr"
             [(ngModel)]="dateTimeRange"
             [selectMode]="'range'"
             [min]="minBegin">
      <owl-date-time #dtr></owl-date-time>
    </div>
    <div class="form_button">
      <button *ngIf="!isUpdate" type="submit" [disabled]="!eventForm.valid">
        <span >Créer</span>
      </button>
      <button *ngIf="isUpdate" type="submit">
        <span >Modifier</span>
      </button>
    </div>
  </form>
</section>
