<section class="menu_tab">
  <h2 (click)="toggleTab('info')" [ngClass]="{'active': showInfoTab}">Compte / Gestion</h2>
  <h2 (click)="toggleTab('account-update-form')" [ngClass]="{'active': showAccountUpdateForm}">Modification compte</h2>
</section>
<section class="choices_tab">
  <div class="tab" *ngIf="showInfoTab" [ngClass]="{'tab-active': showInfoTab}">
    <app-event-list
      id="events_list"
      [events]="events"
      (delete)="deleteEvent($event)"
      [isManagement]="true"></app-event-list>

    <app-activity-list
      id="activities_list"
      (delete)="deleteActivity($event)"
      (showActivityItem)="toggleActivityItem($event)"
      [activities]="activities"></app-activity-list>

      <app-activity-item
      [showActivityPopup]="showActivityPopup"
      [activity]="activityToShow"
      [isManagement]= "isManagement"
      (delete)="deleteActivity($event)"
    ></app-activity-item>
    <app-inscription
      id="inscriptions_list"
      (delete)="deleteInscription($event)"
      [inscriptions]="inscriptions"></app-inscription>

    <app-activity-form
      (create)="createActivity($event)"
      [activity]="activity"
      [events]="events"></app-activity-form>
  </div>
  <div class="tab" *ngIf="showAccountUpdateForm" [ngClass]="{'tab-active': showAccountUpdateForm}">
    <app-account-form
      (delete)="deleteProfile()"
      (emitter)="updateProfile($event)"
      [person]="person"></app-account-form>
  </div>
</section>
