<h1>Compte / Gestion</h1>
<app-event-list
id="events_list"
[events]="events"
(delete)="deleteEvent($event)"
[isManagement]="true"></app-event-list>

<app-activity-list
  id="activities_list"
  (delete)="deleteActivity($event)"
  [activities]="activities"></app-activity-list>

<app-inscription
id="inscriptions_list"
(delete)="deleteInscription($event)"
  [inscriptions]="inscriptions"></app-inscription>


  <app-activity-form
  (create)="createActivity($event)"
  [activity]="activity"
  [events]="events"></app-activity-form>
<app-account-form
(delete)="deleteProfile()"
(emitter)="updateProfile($event)"
[person]="person"
>

</app-account-form>
