<section id="login">
  <form [formGroup]="loginForm">
    <div>
      <label for="login">login : </label>
      <input formControlName="login" name="login" type="text" [(ngModel)]="person.login">

      <label for="password">password : </label>
      <input formControlName="password" name="password" type="password" [(ngModel)]="person.password" >

      <button type="button"
            (click)="getConnection()"
            [disabled]="!loginForm.valid">
            Login
      </button>
    </div>
    <button>
      <a [routerLink]="['/inscription']">inscription</a>
    </button>
  </form>
</section>
