<form [formGroup]="loginForm" *ngIf="!getLocalStorage()">
  <div>
    <label for="login">login : </label>
    <input formControlName="login" name="login" type="text" [(ngModel)]="person.login">

    <label for="password">password : </label>
    <input formControlName="password" name="password" type="password" [(ngModel)]="person.password" >
  </div>
  <button type="button"
          (click)="getConnection(person.login, person.password)"
          [disabled]="!loginForm.valid"
          [routerLink]="['/account']"  >Login</button>
</form>


<div *ngIf="person.firstname !== '' && getLocalStorage()">
 Bienvenue : {{person?.firstname}}
</div>


