@import '../../../style/color';

#login{
  display: flex;
  .menu_item{
    cursor: pointer;
    float: left;
    margin: 10px;
    background-color: $button-background-color;
    &:hover{
      background-color: $button-hover-background-color;
    }
  }
  button{
    background: none;
    border: none;
    a{
      font-weight: bold;
      text-decoration: none;
      padding: 10px 20px;
      display: inline-block;
      color: $button-text-color;
        &:hover{
          color: $button-text-hover-color;
        }
    }
  }
}
