<section class="menu_tab">
  <h2 (click)="toggleTab('info')" [ngClass]="{'active': showInfoTab}">Compte / Gestion</h2>
  <h2 (click)="toggleTab('subscription-list')" [ngClass]="{'active': showSubscriptions}">Inscriptions</h2>
  <h2 (click)="toggleTab('account-update-form')" [ngClass]="{'active': showAccountUpdateForm}">Modification compte</h2>
</section>
<section class="choices_tab">
  <div class="tab" *ngIf="showInfoTab" [ngClass]="{'tab-active': showInfoTab}">
    <!-- Lists -->
    <section id="events_list">
      <app-event-list [events]="events" (delete)="deleteEvent($event)" [isManagement]="true">
      </app-event-list>
      <div class="button-container">
        <button (click)="toggleCreateEventPopup()" class="add management-button">+</button>
      </div>
    </section>
    <section id="activities_list">
      <app-activity-list  (delete)="deleteActivity($event)" [activities]="activities"
                          (showActivityItem)="toggleActivityItem($event)">
      </app-activity-list>
      <button (click)="toggleCreateActivityPopup()" class="add management-button">+</button>
    </section>
    <!-- End of Lists -->
    <!-- Popups -->
    <app-event-form [showCreateEventPopup]="showCreateEventPopup" (createEmitter)="createEvent($event)">
    </app-event-form>
    <app-activity-item [showActivityPopup]="showActivityPopup" [activity]="activityToShow" [isManagement]="isManagement"
                       (delete)="deleteActivity($event)">
    </app-activity-item>
    <app-activity-form [showCreateActivityPopup]="showCreateActivityPopup" (create)="createActivity($event)"
      [activity]="activity" [events]="events">
    </app-activity-form>
    <!-- End of popups -->
  </div>
  <div class="tab" *ngIf="showAccountUpdateForm" [ngClass]="{'tab-active': showAccountUpdateForm}">
    <app-account-form (delete)="deleteProfile()" (emitter)="updateProfile($event)" [person]="person"></app-account-form>
  </div>
  <div class="tab" *ngIf="showSubscriptions" [ngClass]="{'tab-active': showSubscriptions}">
    <section id="inscriptions_list">
      <app-inscription (delete)="deleteInscription($event)" [inscriptions]="inscriptions">
      </app-inscription>
    </section>
  </div>
</section>
