@import '../../../style/color';

#account_button{
  background: $button-background-color;
  display: inline-block;
  margin: 10px 0;
  a{
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    border: 1px solid black;
  }
  &:hover{
    background: $button-hover-background-color;
    color: white;
  }
}
