/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'style/color';

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

body
{
  background-color: $app-background-color;
  margin: 0;
  padding: 0;
  border-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

h1
{
  text-align: left;
  font-weight: bold;
  font-size: 60px;
  color: black;
}

/* Generic reusable classes */

.title{
  margin: 10px;
}

.popup{
  position: fixed;
  background-color: $popup-background;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  .close{
    color: white;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor:pointer;
  }
}

.form{
  h2{
    padding: 10px 20px;
  }
  .form_input{
    margin: 10px 20px;
    float: left;
    width: 80%;
    input{
      border-radius: 4px;
      height: 30px;
      width: 100%;
      padding: 5px 15px;
    }
  }
  .form_button{
    clear: both;
    width: 20%;
    margin: 0 auto;
    button{
      background-color: $button-background-color;
      border: none;
      cursor: pointer;
      color: $button-text-color;
      font-weight: bold;
      &:hover{
        background-color: $button-hover-background-color;
        color: $button-text-hover-color;
      }
      padding: 10px 20px;
      margin-top: 10px;
    }
  }
}

.management-button, .button{
  background-color: $button-background-color;
  border: none;
  cursor: pointer;
  color: $button-text-color;
  font-weight: bold;
  &:hover{
    background-color: $button-hover-background-color;
    color: $button-text-hover-color;
  }
  margin-top: 10px;
}

.management-button.add, .management-button.update, .management-button.delete {
  padding: 5px 10px;
}

.management-button.delete {
  margin-left: 20px;
}

#events_list,
#activities_list{
  float: left;
  width: 50%;
}

#activities_list {
  width: 50%;
}

#inscriptions_list{
  display: inline-block;
}

// tab management

.menu_tab{
  h2{
    float: left;
    font-weight: normal;
    padding: 15px;
    cursor: pointer;
    &:hover{
      font-weight: bold;
    }
  }
  .active{
    font-weight: bold;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
  }
}
.choices_tab{
  margin-top: 50px;
  .tab{
    display: none;
  }
  .tab.tab-active{
    display: inline-block;
    border: 1px solid;
    padding: 30px 50px;
  }
}
