@import '../../../style/color';

#menu_container{position: absolute; top:0; right:0;
  #menu_top{
    margin: 7px;
    float: left;
    ul{
      list-style-type: none;
      li{
        float: left;
      }
      .menu_item{
        margin: 10px;
        background-color: $button-background-color;
        &:hover{
          background-color: $button-hover-background-color;
        }
      }
    }
    button{
      background: none;
      border: none;
      a{
        font-weight: bold;
        color: $button-text-color;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
        &:hover{
          color: $button-text-hover-color;
        }
      }
    }
  }

  #user{
    float: right;
    margin: 10px;
    #user_round{
      cursor: pointer;
      float: left;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #B3FFAB;
      background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
      background: linear-gradient(to right, #12FFF7, #B3FFAB);
    }
    #user_name{
      float: left;
      margin: 15px;
    }
    #menu_profil {
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      display: none;
      #triangle {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $button-background-color;
        position: absolute;
        top: -5px;
        left: 167px;
      }
      #popover {
        position: relative;
        top: -44px;
        right: 1px;
        background-color: $button-background-color;
        padding: 15px 20px;
        list-style-type: none;
        border-radius: 4px;
        ul{
          list-style-type: none;
          display: inline-block;
          width: 100%;
          li{
            width: 100%;
            display: flex;
            a{
              font-weight: bold;
              display: block;
              margin-bottom: 10px;
              background-color:  $button-hover-background-color;
              color: $button-text-hover-color;
              text-decoration: none;
              padding: 10px 20px;
              width: 100%;
              &:hover{
                background: #B3FFAB;
                background: -webkit-gradient(linear, left top, right top, from(#12FFF7), to(#B3FFAB));
                background: linear-gradient(to right, #12FFF7, #B3FFAB);
                color: $button-text-color;
              }
            }
          }
        }
      }
    }
    #menu_profil.active{
      display: block;
      -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 1;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
}
