// page backgrounds
$app-background-color: #dbffee;
$popup-background: rgba(20,20,20,0.8);

// button colors
$button-background-color: #f85a5a;
$button-hover-background-color:white;
$button-text-color: white;
$button-text-hover-color: #515151;

// link
$link-color: #697869;
$link-color-hover: $button-background-color;
