// page backgrounds
$app-background-color: #f5ffbf;
$popup-background: rgba(20,20,20,0.8);

// button colors
$button-background-color: white;
$button-hover-background-color: rgb(252, 255, 105);

// link
$link-color: #697869;
$link-color-hover: white;
