@import '../../../style/color';

#logout{
  display: flex;
  .menu_item{
    cursor: pointer;
    float: left;
    margin: 10px;
    background-color: $button-background-color;
    color: $button-text-color;
    font-weight: bold;
    &:hover{
      background-color: $button-hover-background-color;
      color: $button-text-hover-color;
    }
  }
  button{
    background: none;
    border: none;
    padding: 10px 20px;
  }
}
