@import '../../../style/color';

label {
  width: 120px;
}
section {
  margin: auto;
}

#wrapper {
  background-color: $app-background-color;
  width: 30%;
  margin: 150px auto;
  vertical-align: middle;
  padding: 50px 100px;
}

ul {
  vertical-align: middle;
  list-style: none;
}

li {
  padding: 5px;
}

#rightButton {
  margin-left: 10px;
}
