<h1>Activités</h1>
<h2 *ngIf="activities != null">{{activities[0].event_name}}</h2>
<table *ngIf="activities != null">
  <tr>
    <th>Nom de l'activité</th>
    <th>Heure de début</th>
    <th>Heure de fin</th>
    <th>Description</th>
    <th>URL</th>
  </tr>
  <tr *ngFor="let activity of activities">
    <td>{{activity.name}} </td>
    <td>{{activity.begin}}</td>
    <td>{{activity.finish}}</td>
    <td>{{activity.description}}</td>
    <td><a href="{{activity.url}}" target="_blank">{{activity.url}}</a></td>
  </tr>
  <tr>
    <td> <input name= "name" type="text"  [(ngModel)]="activity.name" ></td>
    <td> <input name="begin" type="text" [(ngModel)]="activity.begin"></td>
    <td> <input name="finish" type="text" [(ngModel)]="activity.finish"></td>
    <td> <input name="description" type="text" [(ngModel)]="activity.description"></td>
    <td> <input name="url" type="text" [(ngModel)]="activity.url"></td>

  </tr>
</table>
<app-activity-form
(create)="onCreate($event)"
(refresh)="initActivities()"
[activity]="activity"
></app-activity-form>

