@import '../../../style/color';

#menu_container{position: absolute; top:0; right:0;
  #menu_top{
    margin: 7px;
    float: left;
    ul{
      list-style-type: none;
      li{
        float: left;
      }
      .menu_item{
        margin: 10px;
        background-color: $button-background-color;
        &:hover{
          background-color: $button-hover-background-color;
        }
      }
    }
    button{
      background: none;
      border: none;
      a{
        font-weight: bold;
        color: $button-text-color;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
        &:hover{
          color: $button-text-hover-color;
        }
      }
    }
  }

  #user{
    float: right;
    margin: 10px;
    #user_round{
      float: left;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #B3FFAB;
      background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
      background: linear-gradient(to right, #12FFF7, #B3FFAB);
    }
    #user_name{
      float: left;
      margin: 15px;
    }
  }
}


