<section id="menu_container">
  <nav id="menu_top">
    <ul>
      <li>
        <button class="menu_item">
          <a [routerLink]="['/home']">Home</a>
        </button>
      </li>
      <li *ngIf="!isLogged()">
        <app-login></app-login>
      </li>
      <li *ngIf="isLogged()">
        <app-logout></app-logout>
      </li>
    </ul>
  </nav>
  <section id="user" *ngIf="getPerson()?.firstname !== '' && isLogged()">
      <div id="user_name">
          Bienvenue <b>{{ getPerson().firstname }}</b>
      </div>
      <a (click)="toggleMenuProfile()">
        <div id="user_round">
        </div>
      </a>
      <section id="menu_profil" [ngClass]="{'active': showMenuProfile}">
          <div id="popover">
            <div id="triangle"></div>
            <ul (click)="toggleMenuProfile()">
              <li><a [routerLink]="['/account']">Account</a></li>
              <li><a [routerLink]="['/updateAccount']">Update profile</a></li>
            </ul>
          </div>
        </section>
  </section>
</section>

