<section class="popup" *ngIf="showPopupProfile">
    <div class="close" (click)="hidePopup()">Х</div>
  <h2>Inscription : </h2>

  <form class="form" [formGroup]="profileForm">
      <label for="firstname">Prénom : </label>
      <input formControlName="firstname" name="firstname" type="text">
      <label for="lastname">Nom : </label>
      <input formControlName="lastname" name="lastname" type="text">
      <label for="login">login : </label>
      <input formControlName="login" name="login" type="text">
      <label for="password">password : </label>
      <input formControlName="password" name="password" type="password">
  </form>
  <button
  type="button"
  (click)="createProfile()">
  S'inscrire
  </button>

</section>

